extends layout
block content
    .ui.teal.menu
        a.item(href='/')
            i.photo.icon
            span Galeria
        a.active.item
            i.settings.icon
            span Administração
    h2.ui.header Administração
        .sub.header Adicione, edite e remova as suas fotos
    .ui.stacked.segment
        a.small.ui.teal.labeled.icon.button(href='nova/')
            i.add.icon
            span Nova foto
        if fotos && fotos.length > 0
            table.ui.teal.table.segment
                thead
                    tr
                        th Descrição
                        th Caminho
                        th Data
                        th Ações
                tbody
                    each foto in fotos
                        tr
                            td= foto.descricao
                            td= foto.caminho
                            td= foto.updatedAt
                            td
                                a.tiny.ui.teal.icon.button(href = 'editar/#{foto.id}') Editar
                                a.tiny.ui.red.icon.button(href = 'editar/#{foto.id}') Remover