extends layout
block content
    .ui.teal.menu
        a.item(href='/')
            i.photo.icon
            span Galeria
        a.active.item
            i.settings.icon
            span Administração
    h2.ui.header Administração
        .sub.header Adicione, edite e remova as suas fotos
    .ui.stacked.segment
        if messages.success && messages.success.length > 0
            each sucesso in messages.success
                .ui.success.message=sucesso
        if messages.error && messages.error.length > 0
            each error in messages.error
                .ui.error.message=error

        a.small.ui.teal.labeled.icon.button(href='nova/')
            i.add.icon
            span Nova foto

        if fotos && fotos.length > 0
            table.ui.teal.table.segment
                thead
                    tr
                        th Descrição
                        th Caminho
                        th Data
                        th Ações
                tbody
                    each foto in fotos
                        tr
                            td= foto.descricao
                            td
                                a.link-foto(href='/#{foto.caminho}')= foto.caminho
                            td= foto.createdAt
                            td
                                form(action='remover/#{foto.id}', method='POST')
                                    .ui.buttons
                                        a.tiny.ui.teal.button(href='editar/#{foto.id}/') Editar
                                        button.tiny.ui.red.button(type='submit') Remover